@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;font-family: Roboto, sans-serif;
}

button {
   background-color: #3882f6;
   color: #f9faf8;
   font-weight: 900;
   font-size: 17px;
   padding: 7px 25px;
   border-radius: 7px;
}

header,
footer {
   background-color: #1f2937;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #f9faf8;
   padding: 25px 0;
}

header .container {
   width: 1200px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
   font-size: 24px;
   font-weight: 900;
   margin-right: 25px;
}

.nav {
   display: flex;
   gap: 25px;
   list-style-type: none;
}

.nav li a {
   color: #f9faf8;
   text-decoration: none;
}

.hero {
   background-color: #1f2937;
   display: flex;
   justify-content: center;
}

.hero .container {
   width: 1200px;
   display: flex;
   align-items: center;
   gap: 50px;
   padding: 100px 0;
}

.hero-content {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   flex: 1;
}

.hero-title {
   color: #f9faf8;
   font-size: 48px;
   font-weight: 900;
}

.hero-secondary {
   color: #e5e7eb;
   font-size: 18px;
}

.hero-img {
   color: #e5e7eb;
   background-color: rgba(143, 143, 143, 0.788);
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 250px;
}

.hero button {
   border: none;
   margin-top: 10px;
}

.information-section {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.information-header {
   font-weight: 900;
   font-size: 36px;
   color: #1f2937;
   padding: 70px;
}

.cards-container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 50px;
   margin-bottom: 100px;
}

.card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 150px;
   text-align: center;
}

div.image {
   width: 150px;
   height: 150px;
   border: 3px solid #3882f6;
   border-radius: 15px;
   margin-bottom: 10px;
}

div.quote-section {
   background-color: #e5e7eb;
   display: flex;
   justify-content: center;
}

.quote-section .container {
   width: 800px;
   padding: 150px 0 100px 0;
   color: #1f2937;
}

.quote {
   font-size: 36px;
   font-style: italic;
   font-weight: 300;
   margin-bottom: 10px;
}

.author {
   font-weight: 800;
   font-size: 23px;
   text-align: right;
}

div.action-section {
   display: flex;
   justify-content: center;
   padding: 100px 0;
}

.action-container {
   width: 1200px;
   background-color: #3882f6;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 50px 100px;
   border-radius: 10px;
   gap: 25px;
}

.action-header {
   color: #f9faf8;
   font-weight: 900;
   font-size: 23px;
}

.action-text {
   color: #e5e7eb;
   font-size: 17px;
}

.sign-up {
   border: 2px solid white;
   margin-top: 10px;
   flex-shrink: 0;
}